<div id="productsFeed">
    <h3>Productos:</h3>
    <ul>
        {{#each products}}
        <li> title: {{title}},description: {{description}}, price: {{price}},thumbnail: {{thumbnail}}, title: {{code}},stock: {{stock}} </li>
        {{/each}}
    </ul>
</div>