<h1>Lista de Productos:</h1>
<div class="container" id="productsFeed">
        {{#each products}}
        <div class="div-card">
            <div class="title">
                <p>{{title}}</p>
            </div>
            <div class="image">
                <p>{{thumbnail}}</p>
            </div>
            <div class="description">
                <p>Descripcion: {{description}}</p>
            </div>
            <div class="price">
                <p>Precio: ${{price}}</p>
            </div>
            <div class="code-stock">
                <p>Codigo: {{code}}</p>
                <p>Stock: {{stock}}</p>
            </div>
        </div>
        {{/each}}
</div>

