<div class="container-form">
    <h1>Agregar un nuevo producto</h1>
    <form  action="/api/realTimeProducts" id="Form" method="post" enctype="application/x-www-form-urlencoded">
        <div>
            <p>Title</p>
            <input type="text" id="Name" name="title">

            <p>Description</p>
            <input type="text" id="Description" name="description">

            <p>Price</p>
            <input type="number" id="Number" name="price">

            <p>Image</p>
            <input type="text" id="thumbnail" name="thumbnail">

            <p>Stock</p>
            <input type="number" id="Stock" name="stock">

            <p>Code</p>
            <input type="text" id="Code" name="code">

            <input type="submit" id="addProduct" value="Agregar">
        </div>
    </form>
</div>


<h3>Lista de productos:</h3>
<div class="container" id="productsFeed">
    {{#each products}}
   <div class="div-card"  id="id-{{id}}">
            <div class="title">
                <p>{{title}}</p>
            </div>
            <div class="image">
                <p>{{thumbnail}}</p>
            </div>
            <div class="description">
                <p>Descripcion: {{description}}</p>
            </div>
            <div class="price">
                <p>Precio: ${{price}}</p>
            </div>
            <div class="code-stock">
                <p>Codigo: {{code}}</p>
                <p>Stock: {{stock}}</p>
            </div>
        </div>
    {{/each}}
</div>

